<div class="row">
  <div class="mt col s12 m4 offset-m4">
    <div class="card hoverable">
      <div class="card-content center">
        <span class="card-title">Login</span>
        <p>
          <em>{{ message }}</em>
        </p>
      </div>
      <form (keyup.enter)="login()" #loginForm="ngForm">
        <div class="input-control">
          <label for="name">Nom d'utilisateur</label>
          <input type="text" id="name" [(ngModel)]="name" name="name" required />
        </div>
        <div class="input-control">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required />
        </div>
      </form>
      <div class="card-action center">
        <a (click)="login()" class="waves-effect waves-light btn" *ngIf="!auth.isLoggedIn">Se connecter</a>
        <a (click)="logout()" *ngIf="auth.isLoggedIn">Se déconnecter</a>
      </div>
    </div>
  </div>
</div>
